.column.column-center(ng-controller='UploadController as uploadCtrl')
  .row.section-header
    .item
      h1.title-3.text-base.green.m-bottom-3
        | {{ 'UPLOAD' | translate | uppercase }}
  form.upload-file-form(
    name='uploadCtrl.uploadForm'
    novalidate
    ng-submit='uploadCtrl.upload()'
  )
    .column.column-left.form-section
      label.text-5.text-base.grey-2.m-bottom-1
        | {{ 'FILE_NAME' | translate }}
      input.form-input.input-base.m-bottom-2(name='name' ng-model='uploadCtrl.fileName' required)
    .column.column-left.form-section
      label.text-5.text-base.grey-2.m-bottom-1
        | {{ 'DESCRIPTION' | translate }}
      input.form-input.input-base.m-bottom-2(name='description' ng-model='uploadCtrl.fileDescription' required)

    span.undefined-course.form-section(ng-if='!uploadCtrl.courseid')
      .column.column-left
        label.text-5.text-base.grey-2.m-bottom-1
          | {{ 'UNIVERSITY' | translate }}
        select.form-input(
          chosen
          ng-model='uploadCtrl.selectedUniversity'
          ng-options='university.universityId as university.name for university in uploadCtrl.universities'
          ng-change='uploadCtrl.getPrograms()'
          required
        )
          option(value='')
            | {{ 'CHOOSE_UNIVERSITY' | translate }}
      .column.column-left
        label.text-5.text-base.grey-2.m-bottom-1
          | {{ 'PROGRAM' | translate }}
        select.form-input(
          chosen
          ng-model='uploadCtrl.selectedProgram'
          ng-options='program.programid as program.name for program in uploadCtrl.programs'
          ng-change='uploadCtrl.getCourses()'
          ng-disabled='!uploadCtrl.selectedUniversity'
          required
        )
          option(value='')
            | {{ 'CHOOSE_PROGRAM' | translate }}
      .column.column-left
        label.text-5.text-base.grey-2.m-bottom-1
          | {{ 'SUBJECT' | translate }}
        select.form-input(
          chosen
          ng-model='uploadCtrl.selectedCourse'
          ng-options='course as course.name for course in uploadCtrl.courses'
          ng-disabled='!uploadCtrl.selectedProgram'
          required
        )
          option(value='')
            | {{ 'CHOOSE_SUBJECT' | translate }}
    span.defined-course.form-section(ng-if='uploadCtrl.courseid')
      .column.column-left
        label.text-5.text-base.grey-2.m-bottom-1
          | {{ 'SUBJECT' | translate }}
        label.selected-course
          | {{uploadCtrl.selectedCourse.name}}
        a.change-course(type='button' ng-href='#!/upload')
          | {{ 'DIFFERENT_SUBJECT' | translate }}

    .column.column-left.form-section
      label.text-5.text-base.grey-2.m-bottom-1
        | {{ 'FILE' | translate }}

      .file-upload.form-input
        label.file-upload-label.secondary-button(for='upload')
          | {{ 'CHOOSE_FILE' | translate }}
        input.form-input.input-base.m-bottom-2.file-upload-input(
          id='upload'
          name='file'
          type='file'
          ng-model='uploadCtrl.file'
          onchange='angular.element(this).controller().chooseFile(this)'
          accept='*'
          required)
        .selected-file-name(ng-switch='uploadCtrl.file.name')
          span(ng-switch-when='undefined')
            | {{ 'NO_FILE' | translate }}
          span(ng-switch-default)
            | {{uploadCtrl.file.name}}
      label.text-5.text-base.m-bottom-1(ng-switch='uploadCtrl.success')
        span.green-2(ng-switch-when='1')
          | {{ 'FILE_UPLOADED' | translate }}
        span.red-2(ng-switch-when='-1')
          | {{ 'FILE_ERROR' | translate }}
  .row.row-center.section-bottom
    button.special-button(ng-click='uploadCtrl.upload()')
      | {{ 'UPLOAD' | translate }}
  .row.row-center
    back(data='indexCtrl.getBack()' goto='indexCtrl.goto(toType, toId, fromName)')
